spring:
  profiles:
    active: dev
  jpa:
     hibernate:
      ddl-auto: none
     show-sql: true
     database-platform: org.hibernate.dialect.MySQL5Dialect
  application:
     name: FileUpload
  thymeleaf:
     mode: LEGACYHTML5
     cache: false
  http:
    multipart:
      max-file-size: 100Mb
      max-request-size: 100Mb

server:
  port: 8080
  session:
    timeout: 86400